/* ////////////// Title Stories ///////////////// */

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 128.25vh; /* To be set by content? */
}

.main-content > div {
    border: 2px solid black;
}

.main-content > div:nth-child(odd){
    background-color: #651148;
}

.main-content > div:nth-child(1){
    grid-column: 1/4;
}
.main-content > div:nth-child(2){
    grid-column: 1/3;
}

/* ///////////////// Links and Ads /////////////////// */

.tbd-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/4;
}

.tbd-content > div:nth-child(odd){
    background-color: #651148;
}
.tbd-content > div:nth-child(even){
    background-color: #852c66;
}

.tbd-content > div {
    border: 2px solid black;
}


/* ///////////// Individual story styling /////////////// */


/* ////// Title story 1 ////// */
.title-story-link-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.title-story-link-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.title-story-link-one > img{
    grid-row: 1/3;
}
.title-story-link-two > img{
    grid-row: 1/3;
}
.title-story-link-three{
    padding: 1em;
}
.title-story-link-three > img{
    position: absolute;
}

.story-title{
    align-self: end;
}
.story-subtitle > p{
    border-bottom: 1px solid black;
}

.main-content-small-link{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-small-link > img {
    position: absolute;
}



/* /////// Resetting grid for mobile view ///////// */

@media only screen and (max-width: 526px){

    .main-content{
        grid-template-columns: 1fr;
    }
    .main-content > div:nth-child(1), .main-content > div:nth-child(2){
        grid-column: unset;
    }

    .tbd-content{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: unset;
    }
    .main-content-small-link{
        height: 10em;
    }

    .story-subtitle > p:nth-child(2), .story-subtitle > p:nth-child(3){
        display: none;
    }
    .title-story-link-one{
        grid-template-rows: unset;
    }

}