.App-header {
  position: fixed;
  width: 100vw;
}

.body-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  height: 125vh;
  padding-top: 68px;
}

.body-wrapper > div {
  background-color: #852c66;
}

.body-wrapper > div:nth-child(odd) {
  background-color: #a55288;
}

/* //// Set grid to single column //// */
/* //// Hide all but title-page content for mobile view //// */


@media only screen and (max-width: 1000px){
  .body-wrapper{
    grid-template-columns: 1fr 3fr 1fr;
  }
}
@media only screen and (max-width: 1200px){
  .body-wrapper{
    grid-template-columns: 1fr 4fr 1fr;
  }
}

@media only screen and (max-width: 850px){

  .body-wrapper{
    grid-template-columns: 1fr;
  }

  .body-wrapper > div{
    display: none;
  }
  .body-wrapper > div:nth-child(2){
    display: inline;
  }

}