.navbar{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;


    text-align: center;
    
    background-color: #44002c;
}

.navbar > p {
    align-self: center;
    display: inline;
}

.menu-burger{
    display: none;
}

/* /// Reset grid and show burger element for mobile view /// */

@media only screen and (max-width: 526px){

    .navbar{
        grid-template-columns: 2fr 3fr 1fr 1fr;
    }

    .menu-burger{
        display: inline;
    }

    .navbar > p{
        display: none;
    }

}